<template>
<div class="circle-progress" :style="{width:size+'px' , height:size+'px'}" :data-pct="progressNumber">
    <svg :width="size" :height="size" :viewPort="'0 0 ' + size" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <circle class="ring" :stroke="ringColor" :r="r" :cx="size/2" :cy="size/2" :stroke-width="strokeWidth" fill="none">
    </circle>
    <circle class="progress_circle" :stroke="progressColor" :r="r" :cx="size/2" :cy="size/2" :stroke-width="strokeWidth" fill="none" :stroke-dasharray="dasharray" :stroke-dashoffset="dashoffset">
    </circle>
    </svg>
</div>
</template>


<script>




</script>

<style>


</style>