<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>

    </head>
    <body>
        <div id="app" class="container">
            <div class="progress-circle__container">
                <span class="progress-circle__percent">{{ percent }}</span>

                <svg class="progress-circle" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xlmns:xlink="http://www.w3.org/1999/xlink">
                <g id="page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="progressbar" transform="translate(-17.000000, -17.000000)">
                        <circle id="Oval" stroke="#949494" stroke-width="5" fill-rule="nonzero" cx="70" cy="70" r="50">
                        </circle>
                        <path class="progress-circle__path" d="M70,120 C97.6142375,120 120,97.6142375 120,70 C120,42.3857625 97.6142375,20 70,20 C42.3857625,20 20,42.3857625 20,70 C20,97.6142375 42.3857625,120 70,120 Z" 
                        id="Oval-Copy" stroke="#000000" stroke-width="5" :stroke-dasharray="circle" fill-rule="nonzero" 
                        transform="translate(70.000000, 70.000000) rotate(-125.000000) translate(-70.000000, -70.000000) ">
                    </path>
                    </g>
                </g>
                </svg>
            </div>
            <a href="#" class="progress-circle__button" @click="randomNumber">Generatre New Percentage</a>
        </div>
    </body>


    <script>
        var app = new Vue({
            el: "#app",
            data: {
                percent: 50
            },
            methods: {
                randomNumber() {
                    this.percent = Math.floor(Math.random() * (100 - 1 + 1)) + 1;
                }
            },
            computed: {
                circle() {
                    return ((this.percent/100) * 100 * Math.PI) + ", 9999";
                }
            }
        })


    </script>


    <style>
        @import url("https://fonts.googleapis.com/css?family=Montserrat");

        body {
            font-family: "Montserrat", sans-serif;
        }

        .progress-circle {
            max-width: 100px;
            max-height: 100px;
            width: 100%;
            transform: scaleX(-1) rotate(-55deg);
        }

        .progress-circle__percent {
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


        .progress-circle__container {
            display: inline-block;
            position:relative;
        }

        .progress-circle__path {
            transition: 0.5s ease-in-out;
        }

        .progress-circle__button {
            text-decoration:none;
            margin-top:24px;
            margin-left: 24px;
            background: #000000;
            color:white;
            padding: 18px 24px;
            border-radius: 4px;
            transition: 0.25s linear background;
        }


        progress-circle__button:hover {
            cursor:pointer;
            background: daken(#008080, 5%);
            transition: 0.25s linear background;
        }

        .container {
            display:flex;
            min-height: 100vh;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        @media screen and (max-width:500px) {
            .container {
                flex-direction: row;
            }

            .progress_circle__button {
                margin-top: 0;
            }
        }





    </style>
</html>