<template>
<v-navigation-drawer
id="drawer-left"
v-model="drawerLeft"
permanent
color="grey-darken-2"
@set-drawer="setDrawerLeft"
>

<div id="drawer-portal-left"></div>
</v-navigation-drawer>

<v-navigation-drawer
id="drawer-right"
v-model="drawerRight"
style="overflow:visible"
width="170"
permanent
color="transparent"
location="right"
@set-drawer-right="setDrawerRight"
>

<div id="drawer-portal-right-top" style="height: 20%"></div>
<div id="drawer-portal-right" style="height: 80%"></div>
</v-navigation-drawer>


<v-main>
    <v-theme-provider theme="nuSlitLight">
        <router-view name="details"></router-view>
    </v-theme-provider>
</v-main>

</template>




<script setup lang="ts">

import { ref } from "vue"

let drawerLeft = ref(false)
let setDrawerLeft = (event: CustomEvent<boolean>) => {
    drawerLeft.value = event.detail
}

let drawerRight = ref(false)
let setDrawerRight = (event: CustomEvent<boolean>) => {
    drawerRight.value = event.detail
}




</script>


<style scoped lang="scss">


</style>