<template>
<div class="container">
    <div id="right-view" align="right">
        <div>
            <v-btn @click.stop="coil_changing = true" style="width: 100px" variant="outlined">
                <v-dialog v-model="coil_changing">
                  <v-card v-model="coil_changing" width="350" height="500" id="coil_changing">
                    <v-tabs grow>
                    <v-tab variant="text" style="position:absolute;left:-15px">
                        <h2>Coil Changing</h2>
                        <v-spacer></v-spacer>
                    </v-tab>
                    <v-btn variant="text" @click.stop="coil_changing = false" style="position:absolute;right: -2px;" icon>
                        <v-icon>mdi-close-outline</v-icon>
                    </v-btn>
                    </v-tabs>
                    <hr>


                    <h3>States</h3>
                    <p>Sensor Switching States</p>
                    <p>Error present</p>
                    <p>Release for movement</p>

                    <hr>
                    <h3>Settings</h3>
                    <p>Timer / Delay values</p>
                    <br>

                    <hr>
                    <h3>Data</h3>
                    <p>Coil (Coil data)</p>
                    <br><br>
                    <hr>
                    <p>Take / put coil from/to slot</p>
                    <br><br>
                    <hr>

                  </v-card>
                </v-dialog>
                Coil Changing
            </v-btn>
        </div>
    </div>

    <v-btn @click.stop="buffer = true" style="width: 100px" variant="outlined">
        <v-dialog v-model="buffer">
            <v-card v-model="buffer" width="350" height="500" id="coil_changing">
                <v-tabs>
                    <v-tab><h2>Buffer</h2></v-tab>
                    <v-spacer></v-spacer>
                    <v-btn variant="text" @click.stop="buffer = false" style="position:absolute; right: -2px" icon>
                        mdi-close-circle-outline
                    </v-btn>
                </v-tabs>

                <h3>States</h3>
                <br><br>
                <hr>
                <h3>Settings</h3>
                <br><br>

                <hr>
                <h3>Data</h3>
                <br><br>

                <hr>
                <h3>Actions</h3>
                <br><br>

                <hr>
            </v-card>
        </v-dialog>
        Buffer
    </v-btn>
</div>



<!-- start of decoiler -->

<div>
    <v-btn @click.stop="decoiler = true" style="width: 100px" variant="outlined">
        <v-dialog v-model="decoiler">
            <v-card v-model="decoiler" width="350" height="500" id="coil_changing">

                <v-tabs>
                    <v-tab>Decoiler</v-tab>
                    <v-spacer></v-spacer>
                    <v-btn variant="text" @click.stop="decoiler = false" style="position:absolute; right: -2px;" icon>
                        <v-icon>mdi-close-circle-outline</v-icon>
                    </v-btn>
                </v-tabs>
                <h3>States</h3>
                <p>Sensor switching states</p>
                <p>Actual coil position values</p>
                <p>Actual speed</p>
                <p>Error present</p>
                <p>Release for movement</p>
                <hr>
                <h3>Settings</h3>
                <p>Speeds for different modes</p>
                <p>Sensor calibrations</p>
                <p>Timer/delay values</p>
                <p>Infeed position</p>


                <hr>
                <h3>Data</h3>
                <p>Current used coil (coil data, usage, ...)</p>
                <p>Next used coil (coil data)</p>
                <hr>
                <h3>Actions</h3>
                <p>Jog mode (up/down , fwd , bwd)</p>
                <p>Manual mode (lock/unlock)</p>
                <hr>

            </v-card>
            Decoiler
    </v-btn>
</div>


<!-- axis button starts here -->

<div>
    <v-btn @click.stop="axis = true" style="width: 100px" variant="outlined">
        <v-dialog v-model="axis">
            <v-card v-model="axis" width="350" height="510" id="coil_changing">
                <v-tabs>
                    <v-tab>Axis</v-tab>
                    <v-spacer></v-spacer>
                    <v-btn variant="text" @click.stop="axis = false" style="position: absolute;right: -2px" icon>
                        <v-icon>
                            mdi-close-circle-outline
                        </v-icon>
                    </v-btn> 
                </v-tabs>

                <h3>States</h3>
                <p>Sensor switching states</p>
                <p>Actual position value</p>
                <p></p>

            </v-card>
        </v-dialog>
    </v-btn>
</div>


<!--  -->



</template>




<script>





</script>