<template>
  <div>
    <v-bottom-navigation padless bottom app fixed>
      <v-btn :to="{name:'coilfarm'}">Coilfarm</v-btn>

      <v-btn :to="{name:'materials'}">Materials</v-btn>

      <v-spacer></v-spacer>

      
      <v-btn>Automatic mode</v-btn>
        

      <v-btn :to="{name: 'test'}">Manual Mode</v-btn>

      <v-btn :to="{name: 'messages'}">Messages</v-btn>

      <v-spacer></v-spacer>

      <v-row justify="space-center">
        <v-dialog v-model="logout">
          <template v-slot:activator="{ props }">
            <v-btn v-bind="props" style="font-size:11px;"> Pause </v-btn>
          </template>
          <v-card>
            <v-card-title class="text-h6">
              Are you sure you want to Logout?
            </v-card-title>

            <v-card-text>
              Logging out may cause you to log in again to use your user
              settings
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="grey lighten-4" text @click="logout = false">
                Logout
              </v-btn>

              <v-btn color="grey lighten-4" text @click="logout = false">
                Stay logged in
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </v-bottom-navigation>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      logout: false,
    }
  },
  data: () => ({
    items: [
      { title: 'item 1' },
      { title: 'item 2' },
      { title: 'item 3' },
      { title: 'item 4' },
    ],
    offset: true,
  }),
}
</script>

