<template>
<v-carousel v-model="model" height="750" show-arrows="hover">
  <v-carousel-item id="row-1">
  <v-container>
    <v-row>
     <v-col cols="12" md="2">
        <v-sheet >
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet >
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
    </v-row>


    <v-row>
      <v-col cols="12" md="2">
        <v-sheet >
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet >
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

     <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
  </v-carousel-item>

<!-- carousel seperation -->

  <v-carousel-item>
      <v-container >
    <v-row>
     <v-col cols="12" md="2">
        <v-sheet >
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet >
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
    </v-row>


    <v-row>
      <v-col cols="12" md="2">
        <v-sheet >
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

     <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>


  </v-carousel-item>

  <!-- carousel seperation -->



  <v-carousel-item>

      <v-container>
    <v-row>
     <v-col cols="12" md="2">
        <v-sheet >
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet >
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
    </v-row>


    <v-row>
      <v-col cols="12" md="2">
        <v-sheet >
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

     <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>

      <v-col cols="12" md="2">
        <v-sheet>
          <v-sheet elevation="7" class="mx-auto" height="180" width="180">
          </v-sheet>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>





  </v-carousel-item>

  <!-- all three views are finished shown -->


</v-carousel>

</template>




<script>
export default {
  data: () => ({
   fake_prop: false,
  }),
};
</script>


<style>

#row-1{
  position: relative;
  left:40px;
}
</style>
