<template>
<v-container>
<v-table>
    <v-card>
    <v-tabs v-model="tab">
        <v-tab value="actual">Actual</v-tab>
        <v-tab value="history">History</v-tab>
    </v-tabs>


    <v-card-text>

        <v-window v-model="tab">

            <v-window-item value="actual">
                <v-table fixed-header height="470">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Type
                            </th>

                            <th class="text-center">
                                Time
                            </th>
                            
                            <th class="text-center">
                                Module
                            </th>

                            <th class="text-center">
                                Text
                            </th>

                            <th class="text-center">
                                Status
                            </th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr
                        v-for="item in items"
                        :key="item.type"
                        >
                        <td>{{ item.type}}</td>
                        <td>{{ item.time}}</td>
                        <td>{{ item.module}}</td>
                        <td>{{ item.text}}</td>
                        </tr>

                    </tbody>
                </v-table>
            </v-window-item>



            <v-window-item value="history">
                <v-table>
                    <thead>


                    </thead>
                </v-table>
            </v-window-item>

        </v-window>




    </v-card-text>
   

    </v-card>
</v-table>
</v-container>
</template>




<script>

export default {
    data() {
        return {
            tab: null,
            items: [
                {
                    type: 'Error',
                    time: '06/06/2021',
                    module: 'System',
                    text: 'The initialization of the machine is finished'
                },
                {
                    type: 'Error',
                    time: '09/06/2021',
                    module: 'Coater2',
                    text: 'A dummy predispense started with nozzle Resist 3, volume 1.0ml'
                },
                {
                    type: 'Error',
                    time: '12/06/2021',
                    module: 'System ',
                    text: 'The door interlocks are deactivated'
                },
                {
                    type: 'Warning',
                    time: '06/06/2021',
                    module: 'Sequence',
                    text: 'The carrier type "5 Standard carrier" does not exist'
                },
                {
                    type: 'Error',
                    time: '06/06/2021',
                    module: 'Supply',
                    text: 'The supply vacuum is out of range'
                },
                {
                    type: 'Warning',
                    time: '06/06/2021',
                    module: 'System',
                    text: 'Door 2 left open'
                },
                {
                    type: 'Error',
                    time: '06/06/2021',
                    module: 'System',
                    text: 'User maintenance has logged on'
                },
                {
                    type: 'Error',
                    time: '06/06/2021',
                    module: 'Coater1',
                    text: 'Media "Tank2 PGMEA is empty'
                },
                {
                    type: 'Error',
                    time: '06/06/2021',
                    module: 'Coater1',
                    text: 'Media "Tank2 PGMEA is empty'
                },
                {
                    type: 'Error',
                    time: '06/06/2021',
                    module: 'Coater1',
                    text: 'Media "Tank2 PGMEA is empty'
                },
                {
                    type: 'Error',
                    time: '06/06/2021',
                    module: 'Coater1',
                    text: 'Media "Tank2 PGMEA is empty'
                }
            ]
        }
    }
}




</script>



<style>
.v-container{
    position: relative;
    top:75px;
}




</style>
