<template>
  <div>
    <v-app-bar>
      <h3>CoilLine Version 1.0</h3>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-circle-medium</v-icon>
          </v-btn>
        </template>
        <span>Current status</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon>
            <v-icon>mdi-check-circle-outline</v-icon>
          </v-btn>
        </template>
        <span>Job description</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon>
            <v-icon>mdi-alert-outline</v-icon>
          </v-btn>
        </template>
        <span>Error status</span>
      </v-tooltip>

     

      
        
      
    

      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>mdi-alert-outline
        </v-icon>
        <span style="font-size:14px;">Aktuelle</span>&nbsp;<span style="font-size:14px;">warning</span>
      </v-btn>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn @click.stop="network=true" icon v-bind="attrs" v-on="on">
            <v-icon>mdi-wifi</v-icon>
          </v-btn>
        </template>
        <span>Network status</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </template>
        <span>Search bar</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-gauge</v-icon>
          </v-btn>
        </template>
        <span>Performance</span>
      </v-tooltip>

      <v-btn @click.stop="test=true">
    <v-icon>mdi-cog-outline</v-icon>
    <v-dialog v-model="test" persistent>
        <v-card height="500" width="900" class="settings-position">
        <v-tabs v-model="tab">
            <v-tab value="one">System settings</v-tab>
            <v-tab value="two">Production settings</v-tab>
        </v-tabs>


        <v-card-text>
            <v-window v-model="tab" class="scroll">
                    <v-col>
                <v-window-item value="one">
                        <v-row>
                            <v-card-text>Date and time  (date/time/time zone)</v-card-text>
                            </v-row>
                        <br>
                        <v-row>
                            <v-card-text>Display (brightness/contrast/clean mode)</v-card-text>
                        </v-row>
                        <br>
                        <v-row>
                            <v-card-text>Shutdown /debug mode?</v-card-text>
                        </v-row>
                        <br>
                
                </v-window-item>
                    </v-col>

                <v-window-item value="two">
                        <v-row>
                          
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
                          
    
    </v-row>

    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
    <v-row>
        
            <v-col>hello</v-col>
            <v-col>hello</v-col>
        
    
    </v-row>
              </v-window-item>
                
                
            </v-window>


        </v-card-text>

        
        
        </v-card>
        <v-row>
          <v-col>
        <v-btn outlined @click.stop="test = false" class="system-cancel-button">Cancel</v-btn>
          </v-col>
          <v-col>
        <v-btn outlined @click.stop="test = false" class="system-save-button">Save</v-btn>
          </v-col>
        </v-row>
    </v-dialog>
</v-btn>

      <v-btn icon @click.stop="openuser = true">
        <v-icon>mdi-account-outline </v-icon>
        <v-dialog v-model="openuser" width="500" persistent>
          <v-card height="500" width="600" class="user-settings">
            <v-col>
              <v-row>
                <v-card-title class="card-title">User Settings</v-card-title>
              </v-row>
              <v-row>
                <v-card-text>Language</v-card-text>
                <v-row>
                  <v-container fluid>
                    <v-radio-group inline v-model="radios" mandatory>
                      <v-radio label="English"> </v-radio>
                      <v-radio label="Deutsch"></v-radio>
                    </v-radio-group>
                  </v-container>
                </v-row>
              </v-row>
              <v-row>
                <v-card-text>Units</v-card-text>
                <v-row>
                  <v-container fluid>
                    <v-radio-group inline v-model="radios" mandatory>
                      <v-radio label="Metric"></v-radio>
                      <v-radio label="Imperial"></v-radio>
                    </v-radio-group>
                  </v-container>
                </v-row>
              </v-row>
              <v-row>
                <v-card-text>Colours</v-card-text>
                <v-row>
                  <v-container fluid>
                    <v-radio-group inline v-model="radios" mandatory>
                      <v-radio label="Standard"></v-radio>
                      <v-radio label="Red-Green weakness"></v-radio>
                    </v-radio-group>
                  </v-container>
                </v-row>
              </v-row>
              <v-row>
                <v-card-text>Orientation</v-card-text>
                <v-row>
                  <v-container fluid>
                    <v-radio-group inline v-model="radios" mandatory>
                      <v-radio label="left-handed"></v-radio>
                      <v-radio label="right-handed"></v-radio>
                    </v-radio-group>
                  </v-container>
                </v-row>
              </v-row>
            </v-col>

            <v-btn
              @click.stop="openuser = false"
              variant="outlined"
              class="user-save-button"
              >Save</v-btn
            >
            <v-btn
              @click.stop="openuser = false"
              variant="outlined"
              class="user-cancel-button"
              >Cancel</v-btn
            >
          </v-card>
          
        </v-dialog>
      </v-btn>

      <v-spacer></v-spacer>
    </v-app-bar>
  </div>
</template>





<script>
export default {
  data() {
    return {
      dialog: false,
      settings: false,
      test: false,
      open: false,
      hello: false,
      mello: false,
      openuser: false,
      radios: 1,
      items: ['English', 'Deutsch'],
      testtab:null,
      tab: null,


    }
  },
}
</script>

<style scoped>
.card-position {
  display: flex;
  left: 1180px;
  top: -300px;
}
.settings-position {
  display: absolute;
  left: -100px;
}
.user-save-button {
  display: flex;
  top:464px;
}

.user-cancel-button {
  display: flex;
  top:464px;
}

.user-settings {
  display: flex;
  left: 480px;
}

.scroll {
   overflow-y: scroll
}

.system-save-button{
  display:flex;

}

.system-cancel-button{
  display: flex;
}

</style>
