<template>
<v-badge
:content="internalData.place.label"
color="orange"
:offset-x="24"
:offset-y="24"
default
>

<a @click="$emit(internalData.place.coilId ? 'edit' : 'new')">
    <v-progress-circular
    :size="150"
    :model-value="percentage"
    :color="internalData.place.coilId ? 'lime' : 'black'"
    :width="8"
    :rotate="360"
    >

    <v-card-text v-if="internalData.place.coilId" @click="$emit('edit')">
        <span class="coil-name-material">
            {{ internalData.material ? internalData.material.name.en : ''}}
            {{ internalData.coating ? internalData.coating.name.en : ''}}
        </span>
        <br>
        <span class="coil-thickness-width">
            {{ internalData.material ? internalData.material.thickness: ''}}
            /
            {{internalData.material ? internalData.material.width: ''}}
        </span>
        <br>
        <span class="coil-color"> {{ 'Green' }}</span><br>
        <span class="coil-remaining-weight">
            {{ internalData.coil ? internalData.coil.weight.remaining : ''}} m
        </span>
    </v-card-text>

    <v-btn v-else outline color="black" variant="outlined">
        <span
        class="create-new-coil-btn"
        style="position:absolute;font-size:10px;margin-top:30px;margin-left:-45px;disaply:inline;"
        >
        Create new coil
        </span>
        <v-icon>mdi-tray-arrow-up</v-icon>
    </v-btn>
    </v-progress-circular>

</a>
</v-badge>
</template>




<script setup lang="ts">
import { computed, defineProps, ref, toRef} from "vue"
import { CoilPlace } from "@/types/coilfarm/CoilPlace";
import { Coil} from "@/types/materials/Coils";
import { Material } from "@/types/materials/Materials";
import { Coatings } from "@/types/materials/Coatings";

const props = defineProps<{
    data: {
        place:CoilPlace
        coil: Coil | null
        material: Material | null
        coating: Coatings | null
    }
}>()

const internalData = toRef(props, "data")

function badgeNumber(number: number) {
    for (let number = 0; number <= 30; number++) {
        return number
    }
}

let percentage = computed(() => {
    if (internalData.value.coil) {
        return (
            (internalData.value.coil.weight.remaining * 100) / internalData.value.coil.weight.initial
        )
    } else {
        return null
    }
})


</script>



<style scoped>

/* all styles for this component */
.coil-name-material {
    color:black;
    font-size: 18px;
    margin-left: 5px;
}

.coil-thickness-width {
    color: black;
    font-size: 18px;
    margin-left: 5px;
}

.coil-color {
    color:black;
    font-size:18px;
    margin-left: 5px;
}

.coil-remaining-weight{
    color: black;
    font-size: 18px;
    margin-left: 5px;
}

.create-new-coil-btn {
    position:absolute;
    font-size: 10px;
    margin-top:30px;
    margin-left:-45px;
    display:inline;
}

.v-icon {
    color:black;
}


</style>