<template>
<v-snackbar 
v-model="visible"
location="top"
style="top: 80px"
:timeout="showTimeout"
:color="currentText && currentText.type ? currentText.type : ''"
>
{{currentText.type}}
>
</v-snackbar>
</template>



<script setup lang="ts">

import { useNotificationStore } from "@/store/notifications/Notifications"
import { ref, watch, onUnmounted, defineProps, toRefs } from "vue"

let notificationStore = useNotificationStore()
let currentText = ref<{text:string ;type:string } | undefined>(undefined)
let visible = ref(false)

const props = defineProps({
    showTimeout: {type: Number, default: 4000},
    nextTimeout: { type: Number, default: 1000}
})

const timeoutId = ref(-1)

function showNext() {
    if(notificationStore.queue.length > 0 && !visible.value) {
        currentText.value = notificationStore.queue.shift()
        visible.value = true
    }
}

watch(visible, (value) => {
    if(!value) {
        timeoutId.value = window.setTimeout(() => {
            timeoutId.value = -1
            showNext()
        }, props.nextTimeout)
    }
})

onUnmounted(() => clearTimeout(timeoutId.value))

</script>